# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# Compilados
*.class

# IDE - VS Code
.vscode/

# IDE - IntelliJ
.idea/
*.iml
*.iws

# IDE - Eclipse
.classpath
.project
.settings/
bin/

# Sistema operacional
.DS_Store
Thumbs.db

# Configurações sensíveis (senha de banco, etc.)
src/main/resources/db.properties

# Logs
*.log
